/*// Экстрабольшие девайсы (большие десктопы, >= 1200px)*/

@media (min-width: 1200px) {
.overlay {
	max-height: 562px;
	min-height: 562px;
	max-width: 425px;
	max-width: 425px;
}

.no_error {
	max-width: 425px;
	min-width: 425px;
}

}