
html {
	height: 100%;
}

body {
	height: 100px;
}

.format {
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;
	border: 1px red solid;
}

@media print {
.format {
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;
	border: 1px red solid;
}
	
}