.container {
	margin-bottom: 50px;
}

.flex-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.flex-box-column {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.date-icon-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}

.date-box {
	align-self: center;
	margin-right: 30px;
}

.date-box h3 {
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
}

.small-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

}

.time-box {
	margin-top: 10px;
	margin-right: 30px;
	color: red;
}

.time-box h3 {
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
}

.info-box {
	/*margin-bottom: 50px;*/
}

.info-box h3 {
	font-size: 20px;
	font-style: italic;
}

.timetable {
	margin-bottom: 30px;
}

.priest-table h3 {
	font-weight: 400;
}



input {
	/*width: 50% !important;*/
}

#sl-sv {
	color: #54749C;
}

#pom-sv {
	color: #943634;
}

#otd-sv {
	color: #35A907;

}

#s_date {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;
	border: none;
}

.priest {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.sobitie {
	margin-top: 50px;
	margin-bottom: 50px;
}

.color-text {
	/*margin-bottom: 50px;*/
}

.border {
	border: dashed 1px !important;
	padding: 10px;
	margin-bottom: 30px;
}

.icon {
	width: 100px;
	height: 120px;
	overflow: hidden;
	margin-right: 30px
}

/*#icon1 {
	margin-bottom: 30px;
}
#icon2 {
	margin-top: 30px;
}
*/


