@font-face {
	font-family: 'Izhitsa Regular';
	src: url('Izhitsa.eot');
	src: url('Izhitsa.eot?#iefix') format('embedded-opentype'),
	url('Izhitsa.woff') format('woff'),
	url('Izhitsa.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  background: rgb(204,204,204) !important; 
}

.A4 {
/*	width: auto !important;
	height: auto !important;*/
}

.A4-border img {
	position: absolute;
	width: 21cm;
  height: 29.5cm;
	z-index: 1;
}

.opacity img {
	position: absolute;
	filter: opacity(10%);
	width: 21cm;
	height: 29.5cm;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	padding: 40px;
}

.header h3 {
	z-index: 3;
	margin-top: 20px;
	margin-left: 30px;
	font-family: 'Izhitsa Regular';
	color: #0070C0;
}

.header h4 {
	z-index: 3;
	margin-top: 30px;
	margin-left: 30px;
	font-family: 'Old Standard TT', serif;
	color: #0070C0;
}

.header img {
	z-index: 3;
	width: 18%;
	margin-left: 40px;
	margin-top: 30px;
}

page[size="A4"] {
  background: white;
  min-width: 21cm;
  min-height: 29.5cm;
  max-width: 21cm;
  max-height: 29.5cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: 20px;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  border: 1px solid black;
}

table {
	width: 19.5cm;
	margin: 0 auto;
	/*border: 1px solid grey;*/
	font-style: italic;
	margin-bottom: 10px;
}

td {
	border: 1px solid #E69B80;
	border-left: none;
	border-right: none;
	padding-right: 15px;
	padding-left: 15px;
}

p {
	margin: 0 !important;
	padding: 0 !important;
}

.td-min-width {
	width: 150px;
	text-align: center;
	font-weight: bold;
}

.footer {
	margin-bottom: auto 0;
}



/*************************************************************************************************/




@media print {
 /* body, page[size="A4"] {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0cm;
  }*/

  table {
		margin: 0 auto !important;
	}

	.table-r {
		page-break-after: always;
		page-break-inside: avoid;
	}

	td {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

  .A4 {
		page-break-after: always;
		page-break-inside: avoid;

	}

	.footer {
		margin-bottom: 0;
	}
}
