@font-face {
	font-family: 'Izhitsa Regular';
	src: url('Izhitsa.eot');
	src: url('Izhitsa.eot?#iefix') format('embedded-opentype'),
	url('Izhitsa.woff') format('woff'),
	url('Izhitsa.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;
	border: solid 1px red;
	margin: 0 auto !important;
	margin-top: 100px !important;
	margin-bottom: 100px !important;
}

.opacity {
	position: absolute;
	filter: opacity(20%);
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;
}

.A4 {
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;	
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding-top: 45px;
}

.title {
 	padding: 20px;
 	text-align: center;
 	z-index: 2;
 }

.title h4 {
 	font-family: 'Old Standard TT', serif;
 }

.title h3 {
 	font-family: 'Izhitsa Regular';
 	font-size: 25px;
 }

.img_logo {
	padding: 20px;
	margin-left: 50px;
	z-index: 2;
}

.img_logo img {
	width: 100%;
}

.border {
	position: absolute;
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;
	z-index: 0;
}








@media print {
.A4 {
	max-height: 29.7cm;
	min-height: 29.7cm;
	max-width: 21cm;
	min-width: 21cm;
}
	
}